{% include 'head.html' %}

<main>

  <div class="container marketing">
    <br><br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{eng}}<br><span class="text-muted">{{jp}}</span></h2>
        <br>
        <h4 class="text-moted"> {{post.rating}}/10 ★</h4><br>
        <p class="lead">{{post.description}}</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img featurette-image img-fluid mx-auto" width=500px height=500px src='{{post.page_img}}' style="margin-top:100px" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
      </div>
    </div>
</div>
<br><br><br><br>


