{% include 'head.html' %}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('{{url_for('static', filename='main_img1.jpg')}}')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder">недоблог об аниме.</h1>
                <p class="text-white mb-0">я смотрела только один аниме-сериал, но все равно сделала но этой теме сайт, и что?</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 style="color:#2f263c">о чем тут?</h2>
                        <p class="lead">ну я короче просто накидаю кучу полномеьражных аниме и сериалов, статей и еще чего-нибудь, не то что бы я много об этом знаю, но картинки будут красивые:)</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('{{url_for('static', filename='main_img1.jpg')}}')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>аниме (яп. アニメーション).</h2>
                        <p class="lead"> — японская мультипликация. в отличие от мультфильмов других стран, предназначенных в основном для просмотра детьми, бо́льшая часть выпускаемого аниме рассчитана на подростковую и взрослую аудитории, и во многом за счёт этого имеет высокую популярность в мире.</p>
                    </div>
                </div>
            </div>
        </section>
{% include 'footer.html' %}