{%  include 'head.html'%}
<link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">

  <body class="text-center">
    
<main class="form-signin">
  <form action="/login" method="POST">
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <div class="form-floating">
      <input class="form-control" id="floatingInput" placeholder="name" name="name">
      <label for="floatingInput">name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
      <label for="floatingPassword">password</label>
    </div>

    <button class="w-100 btn btn-lg btn-secondary" type="submit">sign in</button>
  </form>
</main>
  </body>
</html>
